/*CONTAINER ET BODY*/
#root {
  height: 100%;
}
body, html {
  height: 100%;
  background-color: gold;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 2em 10em;
}

/*SIDE BAR*/
.flowerMixTable-layout {
  background-color: red;
  width: 30%;
}
.flowerMixTable {
  width: 20%
}

.input-container {
  width: 50%;
  position: relative;
  display: flex;
  gap: 2em;
  top: 4em;
  margin: auto;
  justify-content: space-evenly;
}

.input1, .input2 {
  width: 3em;
}

/*FLOWERS' SQUARE*/
.flowerSquare {
  position: relative;
  width: 80%;
  height: 85%;

  background: linear-gradient(45deg, #91C788 25%, transparent 20%, transparent 88%, #91C788 0),
  linear-gradient(70deg, transparent 37%, #DDFFBC 0%, #52734D 63%, transparent 20%),
  linear-gradient(45deg, #91C788 37%, #FEFFDE 30%, #91C788 70%, transparent 0) #91C788;
  background-size: 15px 15px;
}

/*PART OF FLOWER'S STYLE*/
.flower {
  height:50px;
  width:50px;
  display: flex;
  flex-flow: row nowrap;
  /*border-style: inset;*/
  /*border-color: lightslategray;*/

}

